
.float-container {
    width: 14%;
    float: left;
    margin-right: 20px
}  
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    // background-color: red;
    color: black;
    text-align: center;
    background: aliceblue;
  }
@media screen and (max-width: 700px) {
    .float-container {
        display: block;
      width: 100%;
      float: none;
    }
  }
@media screen and (max-width: 1024px) {
    .float-container {
      width: 25%;
    }
  }