.card {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    height: 425px;
    margin: 15px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px 0px 16px;
    height: 48%;
    overflow: auto;
  }

  .parent{
      overflow: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .parent>.card{
    flex: 0 1 21%;
  }

  .image-container{
    height: 50%;
    width: 100%;
    padding:2px 2px 2px 2px

  }
  .image{
      max-height: 97%;
    margin: 6px 2px 2px 10px;
    background: lightgrey;
    width:90%;
    object-fit: contain;
  }
  .text-color
  {
      color:#1786d5 ;
  }
  h3{
      margin: 5px;
  }
  @media screen and (max-width: 700px) {
    .parent {
        display: block !important;
    //   flex-direction: column;
    }
    .card {
        width: 90% !important;
    }
  }
  @media screen and (max-width: 1024px) {
    .parent {
        display: flex;
    //   flex-direction: column;
    }
    .parent>.card{
      flex: 0 1 40%;
    }
    // .card {
    //     width: 90%;
    // }
  }
  