.card {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 100%;
    margin-right: 5px;
  }
  .line{
    height: 2px;
    width: 90%;
    background-color: lightgray;
    margin-left: 5%;
    margin-top:0px
  }
  p{
      margin-bottom: 0px;
  }
  .parent{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
  }
  .parent>.child{
    flex: 0 1 20%;
    margin: 7px 0px 9px 30px;
  }

  .button-color{
    background: #b6e4a7;
    border-radius: 5px;
    border-color: #b6e4a7;
    border-image: none;
    border-style: solid;
  }
  .button-color:hover{
    background: #8ef36d;
    border-radius: 5px;
    border-color: #b6e4a7;
    border-image: none;
    border-style: solid;
  }
  @media screen and (max-width: 700px) {
    .parent>.child{
        flex: 0 1 30%;
        margin: 7px 0px 9px 45px;
      }
      .card{
          width:90%;
          margin:15px
      }
      .button-color{
          width: 90%;
          font-size: large
      }
  }
  